In [279]:
import os
import string
import pandas as pd

import json
from glob import glob
from datetime import datetime
from matplotlib import pyplot as plt
from time import gmtime, mktime, strptime
import warnings
warnings.filterwarnings('ignore')

## Load json file

In [280]:
DIR = 'C:/Users/gufernandez/Documents/tweets.json/farmers-protest-tweets-2021-2-4.json'
#lfiles = glob(DIR + "farmers-protest-tweets-2021-2-4.json")

In [281]:
tweets_data_path = DIR

In [282]:
tweets_data = []
tweets_file = open(tweets_data_path, "r")

### read line by line

In [283]:
for line in tweets_file:
    try:
        tweet = json.loads(line)
        tweets_data.append(tweet)
    except:
        continue

In [284]:
# Elimina posibles tweet sin user
for tweet in tweets_data:
    try:
        user = tweet['user']
    except:
        tweets_data.remove(tweet)
 
print(len(tweets_data))

117407

### Extraer info de importancia para la soluci贸n

In [285]:
rows_list = []
for tweet in tweets_data:
    #print(tweet)
    author = ""
    rtauthor = ""
    
    ## Extrae la informaci贸n de usuario autor y el retweet, si es un retweet
    try:
        
        author = tweet['user']['username']
        rtauthor = tweet['retweeted_status']['user']['username']
        
    except:

        ## Si no es un retweet obtiene la informaci贸n del usuario autor solamente
        try:
            author = tweet['user']['username']
        except:
            continue
                                                       
    create_date = datetime.strptime(str(tweet['user']['created'])[0:10], '%Y-%M-%d').date()
    followers = tweet['user']['followersCount']
    replyCount = tweet['replyCount']
    retweetedTweet = tweet['retweetedTweet']
    retweetCount = tweet['retweetCount']
    
    
    dict1 = {}
    dict1.update({'author': author, 'create_date': create_date, 'replyCount': replyCount, 'retweetedTweet': retweetedTweet, 'retweetCount': retweetCount , 'followers': followers})
    rows_list.append(dict1)

In [286]:
tweets = pd.DataFrame(rows_list)

### 1 .- Get top ten most retweeted tweets by user

In [287]:
top_ten_retweet_user = tweets[['author','retweetCount']].sort_values(by='retweetCount', ascending=False).head(10)

In [288]:
top_ten_retweet_user

                 author  retweetCount
111329  RakeshTikaitBKU          7723
7645       dhruv_rathee          6164
89780         rupikaur_          4673
88911         amaanbali          3742
111556      jedijasmin_          3332
64492         rupikaur_          3230
108072      RaviSinghKA          3182
60721      sherryontopp          3057
29510      sherryontopp          3040
24160      sherryontopp          2622

### 2.-  Los top 10 users en funci贸n a la cantidad de tweets que emitieron (no considerar retweets).

In [312]:
top_ten_tweet_user = tweets[['author']].value_counts().head(10)
top_ten_tweet_user

author
jot__b             1019
rebelpacifist       850
MaanDee08215437     830
Gurpreetd86         636
GurmVicky           597
shells_n_petals     576
preetysaini321      573
ish_kayy            515
KaurDosanjh1979     512
DigitalKisanBot     490
dtype: int64

In [314]:
type(             )

pandas.core.series.Series

In [319]:
for i, row in top_ten_tweet_user.iteritems():
  print(i, row)

('jot__b',) 1019
('rebelpacifist',) 850
('MaanDee08215437',) 830
('Gurpreetd86',) 636
('GurmVicky',) 597
('shells_n_petals',) 576
('preetysaini321',) 573
('ish_kayy',) 515
('KaurDosanjh1979',) 512
('DigitalKisanBot',) 490